.root {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
}

.root__title {
  font-size: 48px;
  margin-top: 150px;
  font-weight: bold;
  text-align: center;
}

.root__content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
